/* 
.login-container {
  width: 400px;
  margin: 50px auto 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 49%;
  text-align: left;
}

element.style {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

label {
  width: 120px;
  margin-right: 10px;
  text-align: right;
}

input, select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


 
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
 
  .login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
 
  .login-container button:hover {
    background-color: #0056b3;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

.button-container button {
    margin-right: 10px; 
}

.centered {
    text-align: center;
}
*/
